body{
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;

}
.first,.second,.third,.fourth{
  height: 100vh;
  margin-bottom: 11em;
}
#particles-js{
  width: 100%;
  height: 100vh;
  position: relative;
}

.first{
  background-image: url(../assets/img/consola.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #e7e7e7;
  margin-top: 3.6em;


}

.second{
  background: #e7e7e7

}

.navbar{
  background-color:#008a84;
  color: #f7f7f7;
  margin:0;
  border:none;
  font-size: 1.3em;
}

.navbar-default .navbar-nav li a{
  color: #f7f7f7;}

.brand{
display: inline-flex;
}

.txtinicio{
  margin: 7em 10% 0% 10%;
  text-align: center;
  font-size: 2.2em;
  position: absolute;

}

.particles-js-canvas-el{
  z-index: -1;
}


.typed-cursor {
    opacity: 1;
    color: white;
    font-size: 1em;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}﻿

footer.nb-footer {
height: 100vh;}

footer.nb-footer .about {
margin: 0 auto;
margin-top: 10em;

text-align: center; 
padding-bottom: 12em;}

footer.nb-footer .about p {
font-size: 2em;
color: #999;
margin-top: 30px; }

footer.nb-footer .about .social-media {
margin-top: 15px; }

footer.nb-footer .about .social-media ul li a {
display: inline-block;
font-size: 2.5em;
color: #008a84 ;
border: 1px solid rgba(255, 255, 255, 0.3); }

footer.nb-footer .about .social-media ul li a i:hover {

font-size: 3em; }

.row.copyright {
background-color: #008a84;
color:#e7e7e7;
text-align: center;
padding-top: 0.5em; }

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}


.link-white{
  color:#008a84;
  text-align: center;
}

.title{
  font-weight: bolder;
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

.cover{
  background-size: cover;
  display: inline-flex;
}
.falsejumbotron h1{
  font-size: 3em;
}

.falsejumbotron p{
  font-size: 1.2em;

}

.falsejumbotron{
  height: 100vh;
  border-radius: 5%;
  background-color: #e8e8e8;
  padding: 5%;

}
.padding{
  padding-top: 1.5em;
}
.icon{
  font-size: 4em;
  color:#008a84;
}

.icon:hover{
  font-size: 5em;

}

#skills-row{
  padding-top: 4em;
}

.thumbnail{
  border: none;
  background-color: inherit;
}

.thumbnail:hover{
background-color: #008a84;
}
p{
  padding-top: 1em;
}
